/* App.css */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.layout .logo {
  font-size: 24px;
  color: white;
  margin: auto;
  text-align: center;
}

.layout .ant-layout-header {
  display: flex;
  align-items: center;
}

.layout .ant-layout-header .ant-menu {
  flex-grow: 1;
}

.btn {
  margin: 10px !important;
}
